<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="https://sleepy-fortress-71203.herokuapp.com/">Home Salvatore</a></li>
                        <li><a href="/"> Home Ponders Node.JS</a></li>
                        <li><a href="/ponder09">Ponder 09</a></li>
                        <li><a href="/ponder10">Ponder 10</a></li>
                        
                    </ul>
                    <!-- Future use
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>  -->
                </div><!-- /.navbar-collapse -->